.navbar{

    width:100%;

    background:#111;

    color:white;

    position:sticky;

    top:0;

    z-index:1000;

}



.navbar-top{

    max-width:1400px;

    margin:auto;

    padding:15px 30px;

    display:flex;

    align-items:center;

    gap:25px;

}





.logo img{

    width:150px;

    height:auto;

}





.search-bar{

    flex:1;

    max-width:600px;

    display:flex;

    background:#222;

    border-radius:10px;

    overflow:hidden;

}





.search-bar input{

    flex:1;

    padding:14px;

    border:0;

    outline:none;

    background:none;

    color:white;

}



.search-bar button{

    width:55px;

    border:0;

    background:#556B2F;

    color:white;

}







.navbar-actions{


    display:flex;

    align-items:center;

    gap:12px;

}



.nav-icon{


    background:none;

    border:0;

    color:white;

}



.nav-icon svg{

    font-size:25px;

}





.nav-menu{


    background:#1a1a1a;

    display:flex;

    justify-content:center;

    gap:35px;

    padding:14px;


}



.nav-menu a{


    color:#ddd;

    text-decoration:none;

}





.nav-menu a:hover{

    color:#8BC34A;

}







.menu-mobile{


    display:none;

    background:none;

    border:0;

    color:white;

    font-size:28px;


}





.nav-mobile{

    display:none;

}






/* TABLET */


@media(max-width:900px){



    .navbar-top{


        padding:15px;

        flex-wrap:wrap;


    }






    .menu-mobile{

        display:block;

    }







    .search-bar{


        order:5;

        width:100%;

        max-width:none;


    }







    .nav-desktop{


        display:none;


    }







    .nav-mobile.active{


        display:block;


    }







    .nav-mobile .nav-menu{


        flex-direction:column;

        align-items:center;

        gap:20px;


    }







    .navbar-actions{


        margin-left:auto;

        gap:8px;


    }




}







/* CELULAR */


@media(max-width:500px){



    .navbar-top{


        gap:12px;


    }





    .logo img{


        width:100px;


    }






    .navbar-actions{


        gap:5px;


    }






    .nav-icon svg{


        font-size:20px;


    }






    .search-bar input{


        font-size:14px;


    }





}